@font-face {
  font-family: 'Cursor Gothic';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://cdn.workos.com/fonts/CursorGothic-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Cursor Gothic';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://cdn.workos.com/fonts/CursorGothic-Bold.woff2) format('woff2');
}
